.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    margin: auto;
}

.dim{
    background-color: lightgray;
}

.light{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
}

.activeRed{
    background-color: red;
}

.activeYellow{
    background-color: yellow;
}

.activeGreen{
    background-color: green;
}